/.libs/
/modules/
/autom4te.cache/
/build/
/include/
/Makefile*
/acinclude.m4
/aclocal.m4
/config.h*
/config.log
/config.nice
/config.status
/configure
/configure.ac
/libtool
/run-tests.php
/*.dep
/*.la
/*.lo
/*~
